/*=========== PC ===========*/
@media (min-width: 992px) {
  /* 1. Ẩn menu mobile trên pc */
  .mobile-header {
    display: none;
  }
}

/*=========== Tablet & Mobile ===========*/
@media (max-width: 991.98px) {
  /* 1. Ẩn navbar trên tablet & mobile */
  .navbar {
    display: none;
  }
  /* 2. Chuyển logo vào giữa  */
  .header-top {
    position: relative;
  }
  .header__logo {
    position: absolute;
    left: 50%;
    translate: -50% -50%;
  }
  /* 3. Căn lại vị trí của menu icon */
  .menu-header__icon {
    position: absolute;
    top: 38px;
    left: 26px;
    color: #fff;
    width: 24px;
  }
  /* 4. Làm lớp phủ overlay */
  .menu-overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    inset: 0;
    z-index: 1;
    transition: 0.5s;
    /* ở trạng thái bình thường ẩn overlay đi */
    opacity: 0;
    visibility: hidden;
  }
  /* 5. Kiểm tra nếu checkbox được check thì hiện overlay */
  .menu-checkbox:checked ~ .menu-overlay {
    opacity: 1;
    visibility: visible;
  }
  /* 6. Code menu content mobile */
  .menu-drawer {
    position: fixed;
    background-color: #091929;
    inset: 0 40% 0 0;
    z-index: 2;
    transform: translateX(-100%);
    transition: 0.5s;
    padding: 60px;
  }
  /* 7. Kiểm tra nếu checkbox được check thì hiện menu */
  .menu-checkbox:checked ~ .menu-drawer {
    transform: translateX(0);
  }
  /* 8. Code menu top */
  .close__menu {
    width: 24px;
    color: #fff;
  }
  .menu-drawer__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #navbar__list--mobile {
    margin-top: 25px;
  }
  .navbar__link {
    display: block;
    text-align: left;
    font-size: 2rem;
  }
  .navbar__link:hover {
    background-color: #00ffff37;
  }
}

/*=========== Tablet ===========*/
@media (min-width: 768px) and (max-width: 991.98px) {
}

/*=========== Mobile ===========*/
@media (max-width: 767.98px) {
}

/* Tạm ẩn phần không liên quan */
.hero,
.footer,
main {
  display: none;
}
